html {
    font-size: 100%;
  }
  
  div {
    font-size: 1rem;
    width:400px;
    height:300px;
    margin:48rem 0rem 48rem 0rem;
  }
  .intro,.sidebar{
    padding:32rem;32rem;32rem;32rem;
  }
  
  span{
    border:2px solid black;
  }